:root {
    --f7-theme-color: #6D9773;
    --f7-theme-color-shade: #0C3B2E;
    --f7-theme-color-tint: #0C3B2E; 
    --f7-theme-color-rgb: 255, 0, 0;
  }

  .card-header { 
    background-color: aqua;
  }